include ./partials/_head.jade
  body
    p JOKE bust a buh buh!
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    //- Add your site or application content here
    p Hello world! This is HTML5 Boilerplate.
    include ./partials/_foot.jade